@{
                /**/

                ViewBag.Title = "register";
                Layout = null;
}
<!DOCTYPE html>
<html lang="en">

<!-- Mirrored from coderthemes.com/zircos/layouts/horizontal-material/page-register.html by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 10 Apr 2019 12:11:08 GMT -->
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="A fully featured admin theme which can be used to build CRM, CMS, etc.">
    <meta name="author" content="Coderthemes">
    <!-- App favicon -->
    <link rel="shortcut icon" href="/assets/images/favicon.ico">
    <!-- App title -->
    <title>Zircos - Bootstrap 4 Responsive Admin Dashboard Template</title>
    <!-- App css -->
    <link rel="stylesheet" type="text/css" href="/assets/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="/assets/css/icons.css" />
    <link rel="stylesheet" type="text/css" href="/assets/css/style.css" />
    <script src="/assets/js/modernizr.min.js"></script>
</head>

<body>
    <!-- HOME -->
    <section>
        <div class="container-alt">
            <div class="row">
                <div class="col-sm-12">
                    <div class="wrapper-page">
                        <div class="m-t-40 account-pages bg-white">
                            <div class="text-center account-logo-box">
                                <div class="m-t-10 m-b-10">
                                    <a href="index-2.html" class="text-success">
                                        <span><img src="/assets/images/logo.png" alt="" height="36"></span>
                                    </a>
                                </div>
                                <!--<h4 class="text-uppercase font-bold m-b-0">Sign In</h4>-->
                            </div>
                            <div class="account-content">
                                <form class="form-horizontal" action="/Global/Register" method="post">
                                    <div class="form-group row">
                                        <div class="col-12">
                                            <input class="form-control" type="email" name="email" required="" placeholder="Email">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-12">
                                            <input class="form-control" type="text" name="username" required="" placeholder="Username">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-12">
                                            <input class="form-control" type="password" name="pass" required="" placeholder="Password">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-12">
                                            <input class="form-control" type="password" name="confirmPass" required="" placeholder="Confirm Password">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-12">
                                            <input class="form-control" name="firstName" required="" placeholder="First Name">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-12">
                                            <input class="form-control" type="text" name="lastName" required="" placeholder="Last Name">
                                        </div>
                                    </div>
                                    @if (ViewBag.LoginErrorResult == 0)
                                    {
                                        <div id="divhata" class="form-group row">
                                            <div class="col-12">
                                                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                                                    <strong>HATA !</strong><h6 id="hataMsg">Girilen parolalar eşleşmedi</h6>
                                                </div>
                                            </div>
                                        </div>

                                    }
                                    <div class="form-group account-btn text-center m-t-10">
                                        <div class="col-12">
                                            <button class="btn w-md btn-danger btn-bordered waves-effect waves-light" type="submit">Register</button>
                                        </div>
                                    </div>
                                </form>

                                <div class="clearfix"></div>
                            </div>
                        </div>
                        <!-- end card-box-->

                        <div class="row m-t-50">
                            <div class="col-sm-12 text-center">
                                <p class="text-muted">Already have account?<a href="/Global/Login" class="text-primary m-l-5"><b>Sign In</b></a></p>
                            </div>
                        </div>
                    </div>
                    <!-- end wrapper -->
                </div>
            </div>
        </div>
    </section>
    <!-- END HOME -->
    <script>var resizefunc = [];</script>
    <!-- jQuery  -->
    <script src="/assets/js/jquery.min.js"></script>
    <script src="/assets/js/bootstrap.bundle.min.js"></script>
    <script src="/assets/js/detect.js"></script>
    <script src="/assets/js/fastclick.js"></script>
    <script src="/assets/js/jquery.blockUI.js"></script>
    <script src="/assets/js/waves.js"></script>
    <script src="/assets/js/jquery.slimscroll.js"></script>
    <script src="/assets/js/jquery.scrollTo.min.js"></script>
    <!-- App js -->
    <script src="/assets/js/jquery.core.js"></script>
    <script src="/assets/js/jquery.app.js"></script>
</body>
<!-- Mirrored from coderthemes.com/zircos/layouts/horizontal-material/page-register.html by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 10 Apr 2019 12:11:08 GMT -->
</html>

